.cursor {
    cursor: pointer;
    color: white;
}

.text-decorator-none {
    text-decoration: none;
}

.navbar {
    background: #9381ff !important;
}

.navbar-textos {
    color: rgb(255, 255, 255) !important;
}