.textos {
    color: rgb(250, 250, 250) !important;
}

.footer {
    background-color: #9381ff !important;
}

.footer-social {
    background-color: #9381ff !important;
    height: 120px;
}

.redes {
    font-size: 60px !important;
    color: rgb(255, 255, 255) !important;
}

.footer-copyright {
    background-color: #9381ff !important;
    height: 60px;
}

.generation {
    text-decoration: none;
}